RewriteEngine on
RewriteRule ^api/v1/on-covid-19/logs$ src/logs.php [L]
RewriteRule ^api/v1/on-covid-19/json$ src/json.php [L]
RewriteRule ^api/v1/on-covid-19/$ src/json.php [L]
RewriteRule ^api/v1/on-covid-19$ src/json.php [L]
RewriteRule ^api/v1/on-covid-19/xml$ src/xml.php [L]

Options All -Indexes